{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "eol-last": 2,
    "max-len": [2, 120, 4],
    "no-underscore-dangle": [0],
    "no-var": 2,
    "quotes": [2, "single"],
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "never"
    }],
    "strict": [2, "global"]
  },
  "plugins": []
}
